*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
    margin: 0;
    padding:0;
}

.nav-bar{
    height: 70px;
    background-color: cadetblue;
}

.btn-primary{
    background-color: red;
    color:white;
    padding: 1em;
    margin: 0.5em;
    border-radius: 0.3rem;
}

.btn-secondary{
    background-color: green;
    color:white;
    padding: 1em;
    margin: 0.5em;
    border-radius: 0.3rem;
}
.photo-card{
    border: 1px solid green;
    width: 50px;
    height: 50px;    
    border-radius: 50%;
}
.menu-list{
    list-style-type:inline;
    display: inline;
}