* {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	color: #070941;
}
.green-text {
	color: green;
}
.storyboard-holder {
	background-color: white;
}

.dummy-text {
	display: flex;
	margin-top: 2em;
}
.text-sider {
	width: 40%;
	text-align: center;
	padding: 3em;
}
.side-bar {
	background-color: green;
	width: 10px;
	height: 300px;
}
.sales-story {
	border: 1px solid grey;
	padding: 2em;
	margin-top: 2em;
	margin-bottom: 2em;
}
.sales-image {
	height: 300px;
	width: 80%;
	margin-left: 5em;
}
.two-sided-text {
	display: flex;
}
.carousel-image {
	height: 500px;
	display: block;
}
.story-list {
	margin-top: 2em;
}
.rounded-img {
	border-radius: 100%;
}
.learn-more-btn {
	background-color: #070941;
	color: #070941;
}

.connect_cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: "50px";
}

@media screen and (max-width: 800px) {
	.connect_cards {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: "50px";
	}
	.feature {
		display: flex;
		flex-direction: column;
		margin: auto;
	}
	.word p {
		margin: auto;
		width: 400px;
	}
}
@media screen and (max-width: 560px) {
	.connect_cards {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.connect_card {
		margin-bottom: 25px;
	}
	.feature {
		display: flex;
		flex-direction: column;
		margin: auto;
	}
	.img {
		width: 100px;
		height: 2000px;
	}
	.word p {
		width: 300px;
	}
}
